#cloudshop{
	box-sizing:border-box;
    background: #fff;
    header{
    	position: relative;
        width: 100%;
        height: 34px;
        line-height: 34px;
        padding: 5px 0;
        font-size: 16px;
        background-color: #f60;
        color: #fff;
        text-align: center;
        div{
        	width:54px;
        	height:33px;
        	background:url("../../assets/img/m-public-icon.png") no-repeat 0 0;
        	background-size:100px 65px;
        	margin: 0 auto;
        }
    }
	.carousel{
		div{
			img{
				width:100%;
			}
		}
	}

	.list{
		ul{
			width:100%;
			display:flex;
			justify-content: space-between;
			height:70px;
			padding-top:10px;
			padding-left:1px;
			box-sizing:border-box;
			margin-bottom: 10px;
			li{
				text-align:center;
				margin:0 auto;
				span{
					display:block;
					width:41px;
					height:41px;
					background:red;
					margin:0 auto;
					margin-bottom:5px;
				}
			}
			li:nth-child(1){
				span{
					background:url("../../assets/img/index-menu-icon.png") no-repeat;
					background-size:41px 210px;
				}
			}
			li:nth-child(2){
				span{
					background:url("../../assets/img/index-menu-icon.png") no-repeat 0 -42px;
					background-size:41px 210px;
				}
			}
			li:nth-child(3){
				span{
					background:url("../../assets/img/index-menu-icon.png") no-repeat 0 -84px;
					background-size:41px 210px;
				}
			}
			li:nth-child(4){
				span{
					background:url("../../assets/img/index-menu-icon.png") no-repeat 0 -126px;
					background-size:41px 210px;
				}
			}
			li:nth-child(5){
				span{
					background:url("../../assets/img/index-menu-icon.png") no-repeat 0 -168px;
					background-size:41px 210px;
				}
			}
		}
	}
	.line{
		width:100%;
		height:10px;
		background:#f7f7f7;
		border-top:1px solid #dedede;
		border-bottom:1px solid #dedede;
	}
	.tab{
		height: 44px;
		line-height:44px;
		border-bottom:1px solid #dedede;
		.left{
			width: 76%;
			float: left;
			padding-left: 6px;
			box-sizing: border-box;
			position: relative;
			z-index: 2;
			border-right:1px solid #efefef;
			font-size:14px;
			height: 44px;
			color:#b3b3b3;
			li{
				box-sizing:border-box;
				float:left;
				height:35px;
				width:25%;
				text-align:center;
			}
			.active{
				color:#f60;
				border-bottom:2px solid #f60;

			}
		}
		.right{
			float:left;
			font-size:14px;
			color:#b3b3b3;

			.icon-fangdajing{
				font-size:30px;
				float:left;
				color:#b3b3b3;
			}
		}
	}
	.product{
		overflow:hidden;
		margin-bottom:42px;
		ul{
			li{
				box-sizing: border-box;
				width:50%;
				height:216px;
				float:left;
				position:relative;
				overflow:hidden;
				padding:10px;

				img{
					width:100px;
					margin:0 auto;
				}
				.duc{
					white-space:nowrap;
					font-style:normal;
					overflow:hidden;
					width:97%;
					margin-top:7px;
					color:#666;
				}
				.price{
					color:#999;
					display:block;
					margin-top:5px;
				}
				.u-progress{
					margin-top:7px;
					height: 6px;
					background: #e7e7e7;
					position: relative;
					border-radius: 3px;
					overflow: hidden;

					.pgbar{
						display:block;
						width:60%;
						height:6px;
						background:#f60;
						border-radius: 3px;
					}
				}
				.bot{
					margin:10px auto 0;
					width:100px;
					padding-right: 40px;
					position:relative;
					.left{
						display: block;
						width: 94px;
						height: 28px;
						line-height: 28px;
						text-align: center;
						border: 1px solid #f60;
						color: #f60;
						border-radius: 16px;
					}

					.right{
						position:absolute;
						width: 30px;
						height: 30px;
						border-radius: 50%;
						background-color: #f60;
						right:0;
						top:0;
						margin:0 auto;
						i{
							width: 17px;
							height: 22px;
							display: block;
							background:url("../../assets/img/set.png") no-repeat 0 -6px;
							background-size:35px auto;
							margin: 0 auto;
							position: relative;
							top: 5px;
							left: -1px;
						}
					}
				}
			}
			li::before{
				content: '';
				position: absolute;
				width: 1px;
				height: 100%;
				border-right: 1px solid #dedede;
				background-color: transparent;
				top: 0;
				right: 0;
				z-index:1;
			}
			li::after{
				content: '';
				position: absolute;
				width: 100%;
				height: 1px;
				background-color: #dedede;
				bottom: 0;
				left: 0;
				z-index:1;
			}
		}
	}
}