/* 
	重置默认样式
 */

body,html,div,h1,h2,h3,h4,h5,h6,ul,ol,dl,dt,dd,img,input,figure,figcaption{
	margin:0;
	padding:0;
}
body,html{
	height:100%;
	font-size:12px;
	color:#333;
}
img{
	display:block;
}
ol,ul{
	list-style-type: none;
}
a{
	text-decoration:none;
	color:#333;
}
input{
	outline:none;
}




#app{
	header{
		position: relative;
	    width: 100%;
	    height: 34px;
	    line-height: 34px;
	    padding: 5px 0;
	    font-size: 16px;
	    background-color: #f60;
	    color: #fff;
	    text-align: center;
	    div{
	    	width:54px;
	    	height:33px;
	    	background:url("../../assets/img/m-public-icon.png") no-repeat 0 0;
	    	background-size:100px 65px;
	    	margin: 0 auto;
	    }
	}


	footer{
		position:fixed;
		bottom : 0;
		left:0;
		width:100%;
		height:43px;
		background:#f7f7f7;
		z-index:100;
		padding-top:5px;
		ul{
			li{
				float:left;
				width:20%;
				text-align:center;
				margin:0 auto;
				span{
					display:block;
					width:24px;
					height:24px;
					background:red;
					margin:0 auto;
				}
			}
			li:first-child{
				span{
					background:url("../../assets/img/footer.png") no-repeat 0 -133px;
					background-size:27px 393px;
				}
			}
			li:nth-child(2){
				span{
					background:url("../../assets/img/footer.png") no-repeat 0 -187px;
					background-size:27px 393px;
				}
			}
			li:nth-child(3){
				span{
					width:26px;
					background:url("../../assets/img/footer.png") no-repeat 0 -239px;
					background-size:27px 393px;
				}
			}
			li:nth-child(4){
				span{
					width:25px;
					background:url("../../assets/img/footer.png") no-repeat -1px -28px;
					background-size:27px 393px;
				}
			}
			li:nth-child(5){
				span{
					background:url("../../assets/img/footer.png") no-repeat 0 -82px;
					background-size:27px 393px;
				}
			}
			li:first-child{
				.myselected{
					color:#f60;
					span{
						background:url("../../assets/img/footer.png") no-repeat 0 -107px;
						background-size:27px 393px;
					}
				}
			}
			li:nth-child(2){
				.myselected{
					color:#f60;
					span{
						background:url("../../assets/img/footer.png") no-repeat 0 -162px;
						background-size:27px 393px;
					}
				}
			}
			li:nth-child(3){
				.myselected{
					color:#f60;
					span{
						background:url("../../assets/img/footer.png") no-repeat 0 -214px;
						background-size:27px 393px;
					}
				}
			}
			li:nth-child(4){
				.myselected{
					color:#f60;
					span{
						width:25px;
						background:url("../../assets/img/footer.png") no-repeat 0 0px;
						background-size:27px 393px;
					}
				}
			}
			li:nth-child(5){
				.myselected{
					color:#f60;
					span{
						background:url("../../assets/img/footer.png") no-repeat 0 -57px;
						background-size:27px 393px;
					}
				}
			}
		}
	}
}